<div style="width: 100%; height: 100%">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100%"
    height="100%"
    fill="none"
    #svg
  >
    <defs>
      <!-- bg-main -->
      <symbol id="corner" viewBox="0 0 26 48" preserveAspectRatio="none">
        <path
          d="M 21.071 2.929 C 22.946 1.054 25.49 0 28.142 0 L 28.142 48 C 25.49 48 22.946 46.946 21.071 45.071 L 3.536 27.536 C 1.583 25.583 1.583 22.417 3.536 20.465 L 21.071 2.929 Z"
          fill="#F4E9AE"
          fill-opacity="0.5"
        ></path>
      </symbol>
      <symbol id="corner2" viewBox="0 0 26 48" preserveAspectRatio="none">
        <path
          d="M 0 0 H -0.142 C 2.51 0 5.054 1.0536 6.929 2.9289 L 24.464 20.4645 C 26.417 22.4171 26.417 25.5829 24.464 27.5355 L 6.929 45.0711 C 5.054 46.9464 2.51 48 -0.142 48 Z"
          fill="#F4E9AE"
          fill-opacity="0.5"
        />
      </symbol>

      <filter
        id="filter0_i_428_1399"
        x="2.07104"
        y="0"
        height="100%"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="1" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"
        />
        <feBlend
          mode="normal"
          in2="shape"
          result="effect1_innerShadow_428_1399"
        />
      </filter>

      <!-- bg-small -->
      <!-- left angle -->
      <symbol
        id="bg-small-left-angle-1"
        viewBox="0 0 26 40"
        preserveAspectRatio="none"
      >
        <path
          d="M 14.9626 2.9476 C 16.8395 1.0608 19.391 0 22.0523 0 h 0 L 22 40 C 19.391 40 16.8395 38.9392 14.9626 37.0524 L 1.5076 23.5262 C -0.4326 21.5757 -0.4326 18.4243 1.5076 16.4738 L 14.9626 2.9476 Z"
        ></path>
      </symbol>

      <!-- center -->
      <symbol
        id="bg-small-center-1"
        viewBox="0 0 8 42"
        preserveAspectRatio="none"
      >
        <path
          d="M 0 0 H 8 L 8 40 H 6.4142 C 6.149 40 5.8946 40.1054 5.7071 40.2929 L
          4.7071 41.2929 C 4.3166 41.6834 3.6834 41.6834 3.2929 41.2929 L 2.2929
          40.2929 c -0.1875 -0.1875 -0.4419 -0.2929 -0.7071 -0.2929 H 0 Z"
        ></path>
      </symbol>

      <!-- right angle -->
      <symbol
        id="bg-small-right-angle-1"
        viewBox="0 0 26 40"
        preserveAspectRatio="none"
      >
        <path
          d="M 0 0 H 2.948 C 5.609 0 8.16 1.0608 10.037 2.9476 L 23.492 16.4738 C 25.433 18.4243 25.433 21.5757 23.492 23.5262 L 10.037 37.0524 C 8.16 38.9392 5.609 40 2.948 40 L 0 40 Z"
        ></path>
      </symbol>

      <filter
        id="filter0_i_428_1401"
        x="0.0524902"
        y="0"
        width="100%"
        height="100%"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"
        />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="1.5" />
        <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.65 0"
        />
        <feBlend
          mode="normal"
          in2="shape"
          result="effect1_innerShadow_428_1401"
        />
      </filter>
      <radialGradient
        id="paint0_radial_428_1401"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(80 21) rotate(180) scale(82 601.333)"
      >
        <stop stop-color="#738898" stop-opacity="0" />
        <stop offset="1" stop-color="#738898" />
      </radialGradient>
      <radialGradient
        id="paint1_radial_428_1401"
        cx="0"
        cy="0"
        r="1"
        gradientUnits="userSpaceOnUse"
        gradientTransform="translate(80 2.94921e-05) rotate(90) scale(42 520.248)"
      >
        <stop stop-color="#9B8474" />
        <stop offset="1" stop-color="#D5AF71" stop-opacity="0" />
      </radialGradient>
    </defs>

    <!-- Тень bg_main -->
    <g filter="url(#filter0_i_428_1399)">
      <!-- Левый угол -->
      <use xlink:href="#corner" width="26" height="100%" x="0" y="0" />

      <!-- Центральная часть -->
      <rect
        x="26"
        y="0"
        width="calc(100% - 52px)"
        height="100%"
        fill="#F4E9AE"
        fill-opacity="0.5"
      />

      <!-- Правый угол -->
      <use
        xlink:href="#corner2"
        width="26"
        height="100%"
        x="calc(100% - 26px)"
        y="0"
      />
    </g>

    <!-- bg-small-1 -->
    <g fill="#EEC68C" filter="url(#filter0_i_428_1401)">
      <!-- Левый угол -->
      <use
        class="h100-8"
        xlink:href="#bg-small-left-angle-1"
        width="26"
        x="8"
        y="4"
      />
      <!-- Центральная левая часть -->
      <rect
        x="28"
        y="4"
        [attr.width]="
          (svg.getBoundingClientRect().width - (2 * 6 + 2 * 28 + 8 - 12)) / 2
        "
        class="h100-8"
      />
      <!-- Центр -->
      <!-- [attr.heigth]="svg.getBoundingClientRect().height - 6" -->
      <use
        xlink:href="#bg-small-center-1"
        width="8"
        [attr.height]="42"
        x="calc(50% - 4px)"
        y="4"
      />

      <!-- Центральная правая часть -->
      <rect
        x="calc(50% + 4px)"
        y="4"
        [attr.width]="
          (svg.getBoundingClientRect().width - (2 * 6 + 2 * 28 + 8 - 12)) / 2
        "
        class="h100-8"
      />

      <!-- Правый угол -->
      <use
        class="h100-8"
        xlink:href="#bg-small-right-angle-1"
        width="26"
        x="calc(100% - 32px)"
        y="4"
      />
    </g>

    <!-- bg-small-2 -->
    <g
      fill="url(#paint0_radial_428_1401)"
      fill-opacity="0.65"
      filter="url(#filter0_i_428_1401)"
    >
      <!-- Левый угол -->
      <use
        class="h100-8"
        xlink:href="#bg-small-left-angle-1"
        width="26"
        x="8"
        y="4"
      />
      <!-- Центральная левая часть -->
      <rect
        x="28"
        y="4"
        [attr.width]="
          (svg.getBoundingClientRect().width - (2 * 6 + 2 * 28 + 8 - 12)) / 2
        "
        class="h100-8"
      />
      <!-- Центр -->
      <!-- [attr.heigth]="svg.getBoundingClientRect().height - 6" -->
      <use
        xlink:href="#bg-small-center-1"
        width="8"
        [attr.height]="42"
        x="calc(50% - 4px)"
        y="4"
      />

      <!-- Центральная правая часть -->
      <rect
        x="calc(50% + 4px)"
        y="4"
        [attr.width]="
          (svg.getBoundingClientRect().width - (2 * 6 + 2 * 28 + 8 - 12)) / 2
        "
        class="h100-8"
      />

      <!-- Правый угол -->
      <use
        class="h100-8"
        xlink:href="#bg-small-right-angle-1"
        width="26"
        x="calc(100% - 32px)"
        y="4"
      />
    </g>

    <!-- bg-small-3 -->
    <!-- <g fill="url(#paint1_radial_428_1401)" filter="url(#filter0_i_428_1401)">
      
    </g> -->
  </svg>
</div>
