<div class="content-container" (click)="onClick.emit()">
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>

<svg
  [attr.viewBox]="'0 0 ' + (parentWidth + 2) + ' 51'"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g [attr.filter]="'url(#filter0_i_406_2532_' + uniqueId + ')'">
    <path
      [attr.d]="
        'm 21.0711 2.9289 c 1.8753 -1.8754 4.4189 -2.9289 7.071 -2.9289 h ' +
        offsetLayer1 +
        ' c 2.652 0 5.196 1.0536 7.071 2.9289 l 17.535 17.5356 c 1.953 1.9526 1.953 5.1184 0 7.071 l -17.535 17.5356 c -1.875 1.8753 -4.419 2.9289 -7.071 2.9289 h ' +
        offsetLayer1 * -1 +
        ' c -2.6522 0 -5.1958 -1.0536 -7.0711 -2.9289 l -17.5356 -17.5356 c -1.9526 -1.9526 -1.9526 -5.1184 0 -7.071 l 17.5356 -17.5356 z'
      "
      fill="#F4E9AE"
      fill-opacity="0.5"
    />
  </g>
  <g [attr.filter]="'url(#filter1_i_406_2532_' + uniqueId + ')'">
    <path
      [attr.d]="
        'm 22.9626 6.9476 c 1.8769 -1.8868 4.4284 -2.9476 7.0897 -2.9476 h ' +
        offsetLayer2 / 2 +
        ' h 6 h ' +
        offsetLayer2 / 2 +
        ' c 2.661 0 5.212 1.0608 7.089 2.9476 l 13.455 13.5262 c 1.941 1.9505 1.941 5.1019 0 7.0524 l -13.455 13.5262 c -1.877 1.8868 -4.428 2.9476 -7.089 2.9476 h ' +
        (offsetLayer2 / 2) * -1 +
        ' h -0.586 c -0.265 0 -0.519 0.1054 -0.707 0.2929 l -1 1 c -0.39 0.3905 -1.024 0.3905 -1.414 0 l -1 -1 c -0.188 -0.1875 -0.442 -0.2929 -0.707 -0.2929 h -0.586 h ' +
        (offsetLayer2 / 2) * -1 +
        ' c -2.6613 0 -5.2128 -1.0608 -7.0897 -2.9476 l -13.455 -13.5262 c -1.9402 -1.9505 -1.9402 -5.1019 0 -7.0524 l 13.455 -13.5262 z'
      "
      fill="#EEC68C"
    />
    <path
      [attr.d]="
        'm 22.9626 6.9476 c 1.8769 -1.8868 4.4284 -2.9476 7.0897 -2.9476 h ' +
        offsetLayer2 / 2 +
        ' h 6 h ' +
        offsetLayer2 / 2 +
        ' c 2.661 0 5.212 1.0608 7.089 2.9476 l 13.455 13.5262 c 1.941 1.9505 1.941 5.1019 0 7.0524 l -13.455 13.5262 c -1.877 1.8868 -4.428 2.9476 -7.089 2.9476 h ' +
        (offsetLayer2 / 2) * -1 +
        ' h -0.586 c -0.265 0 -0.519 0.1054 -0.707 0.2929 l -1 1 c -0.39 0.3905 -1.024 0.3905 -1.414 0 l -1 -1 c -0.188 -0.1875 -0.442 -0.2929 -0.707 -0.2929 h -0.586 h ' +
        (offsetLayer2 / 2) * -1 +
        ' c -2.6613 0 -5.2128 -1.0608 -7.0897 -2.9476 l -13.455 -13.5262 c -1.9402 -1.9505 -1.9402 -5.1019 0 -7.0524 l 13.455 -13.5262 z'
      "
      [attr.fill]="'url(#paint0_radial_406_2532_' + uniqueId + ')'"
      fill-opacity="0.65"
    />
    <path
      [attr.d]="
        'm 22.9626 6.9476 c 1.8769 -1.8868 4.4284 -2.9476 7.0897 -2.9476 h ' +
        offsetLayer2 / 2 +
        ' h 6 h ' +
        offsetLayer2 / 2 +
        ' c 2.661 0 5.212 1.0608 7.089 2.9476 l 13.455 13.5262 c 1.941 1.9505 1.941 5.1019 0 7.0524 l -13.455 13.5262 c -1.877 1.8868 -4.428 2.9476 -7.089 2.9476 h ' +
        (offsetLayer2 / 2) * -1 +
        ' h -0.586 c -0.265 0 -0.519 0.1054 -0.707 0.2929 l -1 1 c -0.39 0.3905 -1.024 0.3905 -1.414 0 l -1 -1 c -0.188 -0.1875 -0.442 -0.2929 -0.707 -0.2929 h -0.586 h ' +
        (offsetLayer2 / 2) * -1 +
        ' c -2.6613 0 -5.2128 -1.0608 -7.0897 -2.9476 l -13.455 -13.5262 c -1.9402 -1.9505 -1.9402 -5.1019 0 -7.0524 l 13.455 -13.5262 z'
      "
      [attr.fill]="'url(#paint1_radial_406_2532_' + uniqueId + ')'"
    />
  </g>
  <mask
    [attr.id]="'mask0_406_2532_' + uniqueId"
    style="mask-type: alpha"
    maskUnits="userSpaceOnUse"
    x="8"
    y="4"
    [attr.width]="parentWidth - 16"
    height="40"
  >
    <path
      [attr.d]="
        'm 22.9626 6.9476 c 1.8769 -1.8868 4.4284 -2.9476 7.0897 -2.9476 h ' +
        offsetLayer3_mask +
        ' c 2.661 0 5.212 1.0608 7.089 2.9476 l 13.455 13.5262 c 1.941 1.9505 1.941 5.1019 0 7.0524 l -13.455 13.5262 c -1.877 1.8868 -4.428 2.9476 -7.089 2.9476 h ' +
        offsetLayer3_mask * -1 +
        ' c -2.6613 0 -5.2128 -1.0608 -7.0897 -2.9476 l -13.455 -13.5262 c -1.9402 -1.9505 -1.9402 -5.1019 0 -7.0524 l 13.455 -13.5262 z'
      "
      fill="white"
    />
  </mask>
  <g [attr.mask]="'url(#mask0_406_2532_' + uniqueId + ')'">
    <g
      style="mix-blend-mode: overlay"
      [attr.filter]="'url(#filter2_d_406_2532_' + uniqueId + ')'"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        [attr.d]="
          'm ' +
          (parentWidth / 2 + 120) +
          ' 54 c 0 65.722 -53.278 119 -119 119 c -65.7219 0 -119 -53.278 -119 -119 c 0 -65.7219 53.2781 -119 119 -119 c 65.722 0 119 53.2781 119 119 z m 1 0 c 0 66.274 -53.726 120 -120 120 c -66.2742 0 -120 -53.726 -120 -120 c 0 -66.2742 53.7258 -120 120 -120 c 66.274 0 120 53.7258 120 120 z m -120 43 c 23.748 0 43 -19.2518 43 -43 c 0 -23.7482 -19.252 -43 -43 -43 c -23.748 0 -43 19.2518 -43 43 c 0 23.7482 19.252 43 43 43 z m 0 1 c 24.301 0 44 -19.6995 44 -44 c 0 -24.3005 -19.699 -44 -44 -44 c -24.301 0 -44 19.6995 -44 44 c 0 24.3005 19.699 44 44 44 z m 0 -23 c 11.598 0 21 -9.402 21 -21 c 0 -11.598 -9.402 -21 -21 -21 c -11.598 0 -21 9.402 -21 21 c 0 11.598 9.402 21 21 21 z m 0 14 c 19.33 0 35 -15.67 35 -35 c 0 -19.33 -15.67 -35 -35 -35 c -19.33 0 -35 15.67 -35 35 c 0 19.33 15.67 35 35 35 z'
        "
        [attr.fill]="'url(#paint2_linear_406_2532_' + uniqueId + ')'"
        fill-opacity="0.17"
      />
    </g>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      [attr.d]="
        'm 10.4141 17.4142 c -0.7811 -0.781 -2.0474 -0.781 -2.8284 0 l -5.1715 5.1715 c -0.781 0.7811 -0.781 2.0474 0 2.8284 l 5.1715 5.1715 c 0.781 0.7811 2.0474 0.7811 2.8284 0 l 5.1715 -5.1715 c 0.781 -0.781 0.781 -2.0473 0 -2.8284 l -5.1715 -5.1715 z m ' +
        (parentWidth - 18) +
        ' 0 c -0.781 -0.781 -2.047 -0.781 -2.828 0 l -5.172 5.1715 c -0.781 0.7811 -0.781 2.0474 0 2.8284 l 5.172 5.1715 c 0.781 0.7811 2.047 0.7811 2.828 0 l 5.172 -5.1715 c 0.781 -0.781 0.781 -2.0473 0 -2.8284 l -5.172 -5.1715 z'
      "
      fill="#FFF9DB"
    />
  </g>
  <g
    [attr.filter]="'url(#filter3_d_406_2532_' + uniqueId + ')'"
    [attr.transform]="'translate(' + (parentWidth / 2 - 160) + ')'"
  >
    <rect
      x="160"
      y="37"
      width="4.94975"
      height="4.94975"
      rx="1"
      transform="rotate(45 160 37)"
      fill="#F8ECB2"
    />
  </g>
  <g [attr.filter]="'url(#filter4_d_406_2532_' + uniqueId + ')'">
    <path
      [attr.d]="
        'm 23.4944 7.4765 c 1.7361 -1.7452 4.0962 -2.7265 6.5579 -2.7265 h ' +
        offsetLayer4 / 2 +
        ' h 10 h ' +
        offsetLayer4 / 2 +
        ' c 2.461 0 4.822 0.9813 6.558 2.7265 l 13.455 13.5262 c 1.649 1.6579 1.649 4.3367 0 5.9946 l -13.455 13.5262 c -1.736 1.7452 -4.097 2.7265 -6.558 2.7265 h ' +
        (offsetLayer4 / 2) * -1 +
        ' h -0.667 c -0.378 0 -0.747 0.1228 -1.05 0.35 l -2.533 1.9 c -0.444 0.3333 -1.056 0.3333 -1.5 0 l -2.533 -1.9 c -0.303 -0.2272 -0.672 -0.35 -1.05 -0.35 h -0.667 h ' +
        (offsetLayer4 / 2) * -1 +
        ' c -2.4617 0 -4.8218 -0.9813 -6.5579 -2.7265 l -13.455 -13.5262 c -1.6492 -1.6579 -1.6492 -4.3367 0 -5.9946 l 13.455 -13.5262 z'
      "
      [attr.stroke]="'url(#paint3_radial_406_2532_' + uniqueId + ')'"
      stroke-width="1.5"
    />
  </g>
  <defs>
    <filter
      [attr.id]="'filter0_i_406_2532_' + uniqueId"
      x="2.07104"
      y="0"
      [attr.width]="parentWidth"
      height="48"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="1" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.35 0"
      />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_406_2532"
      />
    </filter>
    <filter
      [attr.id]="'filter1_i_406_2532_' + uniqueId"
      x="8.05249"
      y="4"
      [attr.width]="parentWidth"
      height="41.5858"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="BackgroundImageFix"
        result="shape"
      />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="1.5" />
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.65 0"
      />
      <feBlend
        mode="normal"
        in2="shape"
        result="effect1_innerShadow_406_2532"
      />
    </filter>
    <filter
      [attr.id]="'filter2_d_406_2532_' + uniqueId"
      x="10"
      y="-96"
      [attr.width]="parentWidth - 10 - 10"
      height="300"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="15" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_406_2532"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_406_2532"
        result="shape"
      />
    </filter>
    <filter
      [attr.id]="'filter3_d_406_2532_' + uniqueId"
      x="152.914"
      y="33.4142"
      width="14.1714"
      height="14.1716"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_406_2532"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_406_2532"
        result="shape"
      />
    </filter>
    <filter
      [attr.id]="'filter4_d_406_2532_' + uniqueId"
      x="4.05249"
      y="0"
      [attr.width]="parentWidth - 4.05249 * 2"
      height="50.5"
      filterUnits="userSpaceOnUse"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"
      />
      <feOffset />
      <feGaussianBlur stdDeviation="2" />
      <feComposite in2="hardAlpha" operator="out" />
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
      />
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_406_2532"
      />
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_406_2532"
        result="shape"
      />
    </filter>
    <radialGradient
      [attr.id]="'paint0_radial_406_2532_' + uniqueId"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      [attr.gradientTransform]="
        'translate(' +
        parentWidth / 2 +
        ' 25.0001) rotate(-180) scale(154 1129.33)'
      "
    >
      <stop stop-color="#738898" stop-opacity="0" />
      <stop offset="1" stop-color="#738898" />
    </radialGradient>
    <radialGradient
      [attr.id]="'paint1_radial_406_2532_' + uniqueId"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      [attr.gradientTransform]="
        'translate(' + parentWidth / 2 + ' 4) rotate(90) scale(42 520.249)'
      "
    >
      <stop stop-color="#9B8474" />
      <stop offset="1" stop-color="#D5AF71" stop-opacity="0" />
    </radialGradient>
    <linearGradient
      [attr.id]="'paint2_linear_406_2532_' + uniqueId"
      x1="160"
      y1="5"
      x2="160"
      y2="45"
      gradientUnits="userSpaceOnUse"
    >
      <stop stop-color="white" stop-opacity="0" />
      <stop offset="1" stop-color="white" />
    </linearGradient>
    <radialGradient
      [attr.id]="'paint3_radial_406_2532_' + uniqueId"
      cx="0"
      cy="0"
      r="1"
      gradientUnits="userSpaceOnUse"
      gradientTransform="translate(160 24.9998) rotate(180) scale(154 2196.25)"
    >
      <stop stop-color="#F7ECB2" />
      <stop offset="1" stop-color="#FFF9DB" />
    </radialGradient>
  </defs>
</svg>
