// .container {
//   display: flex;
//   .content {
//     padding: 11px 36px;
//     background: url("../../../../assets/btn-bg.png");
//     background-size: auto 100%;
//   }
//   .left {
//     width: 27 px;
//     background: url("../../../../assets/btn-bg-angle-l.png");
//     background-size: auto 100%;
//   }
//   .right {
//     width: 27px;
//     background: url("../../../../assets/btn-bg-angle.png");
//     background-size: auto 100%;
//   }
// }
:host {
    display: block;
    width: 100%;
    height: 100%;
}