<!-- <h2>Комнаты</h2>
<button class="ml-4 mb-2" pButton pRipple (click)="createRoom()">Создать комнату</button>

@for (room of (rooms$ |async); track room.id) {
<p-card [header]="room.name.uk" [ngStyle]="{ margin: '10px' }" styleClass="mx-4">
  <div class="my-2">
    <button pButton pRipple (click)="sendConfirmationToAllUsers()">
      Собрать желающих
    </button>
  </div>

  <div class="my-2">
    <button pButton pRipple (click)="sendConfirmationToAllUsers()">
      Удалить комнату
    </button>
  </div>
  <div class="my-2">
    <button pButton pRipple (click)="sendConfirmationToAllUsers()">
      Изменить настройки
    </button>
  </div>
  <div class="my-2">
    <button pButton pRipple (click)="sendConfirmationToAllUsers()">
      Изменить сслыку
    </button>
  </div>
</p-card>

} -->
<!-- <h1>Admin panel</h1> -->
<!-- <router-outlet></router-outlet> -->

<div class="h-full flex relative lg:static">
  <div
    id="app-sidebar"
    class="h-full lg:h-auto hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none"
    style="width: 280px"
  >
    <div class="flex flex-column h-full">
      <div class="overflow-y-auto">
        <ul class="list-none p-3 m-0">
          <li (click)="navigate(['admin-panel', 'dashboard'])">
            <div
              pRipple
              class="p-3 flex align-items-center justify-content-between cursor-pointer"
              pStyleClass="@next"
              enterClass="hidden"
              enterActiveClass="slidedown"
              leaveToClass="hidden"
              leaveActiveClass="slideup"
            >
              <span class="font-medium">Dashboard</span>
              <i class="pi pi-chevron-down"></i>
            </div>
          </li>
          <li (click)="navigate(['admin-panel', 'rooms'])">
            <div
              pRipple
              class="p-3 flex align-items-center justify-content-between cursor-pointer"
              pStyleClass="@next"
              enterClass="hidden"
              enterActiveClass="slidedown"
              leaveToClass="hidden"
              leaveActiveClass="slideup"
            >
              <span class="font-medium">Комнаты</span>
              <i class="pi pi-chevron-down"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex flex-column relative flex-auto">
    <p-breadcrumb
      class="max-w-full surface-card flex font-medium overflow-y-hidden overflow-x-auto"
      [model]="(items$ | async) ?? []"
      styleClass="p-0 border-none"
    >
      <ng-template pTemplate="item" let-item>
        <li class="relative p-3" *ngIf="item.url; else noUrl">
          <div
            *ngIf="item.url !== 'dashboard'"
            class="absolute left-0 top-0 z-1"
            style="
              border-left: 20px solid var(--surface-card);
              border-top: 26px solid transparent;
              border-bottom: 26px solid transparent;
              width: 0;
              height: 0;
            "
          ></div>
          <a
            class="cursor-pointer text-blue-500 pl-4 white-space-nowrap"
            [routerLink]="item.url"
          >
            <i [class]="item.icon"></i> {{ item.label }}
          </a>
          <div
            *ngIf="item.url !== 'dashboard'"
            class="absolute top-0"
            style="
              left: 1px;
              border-left: 20px solid var(--surface-border);
              border-top: 26px solid transparent;
              border-bottom: 26px solid transparent;
              width: 0;
              height: 0;
            "
          ></div>
        </li>
        <ng-template #noUrl>
          <li class="relative p-3">
            <div
              class="absolute left-0 top-0 z-1"
              style="
                border-left: 20px solid var(--surface-card);
                border-top: 26px solid transparent;
                border-bottom: 26px solid transparent;
                width: 0;
                height: 0;
              "
            ></div>
            <span class="text-900 pl-4 white-space-nowrap">{{
              item.label
            }}</span>
            <div
              class="absolute top-0"
              style="
                left: 1px;
                border-left: 20px solid var(--surface-border);
                border-top: 26px solid transparent;
                border-bottom: 26px solid transparent;
                width: 0;
                height: 0;
              "
            ></div>
          </li>
        </ng-template>
      </ng-template>
      <ng-template pTemplate="separator">
        <li class="relative p-3"></li>
      </ng-template>
    </p-breadcrumb>
    <router-outlet></router-outlet>
  </div>
</div>
