@import "/src/styles/_mixins.scss";

.golden-grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 2fr 2fr 6.66fr 5.33fr 5.33fr 10.66fr 10.66fr 5.33fr 5.33fr 6.66fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 4fr 2.66fr 5.33fr 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr 2.66fr 4fr 2fr 2fr;
}
.bg-slide {
  grid-area: 1 / 1 / span 12 / span 18;
  // background: radial-gradient(206.16% 141.42% at 0% 0%, #1e00b2 0%, #106 100%);
  background-color: transparent;
}
.silder {
  grid-area: 1 / 6 / span 12 / span 13;
  background: transparent;
  // background-image: url("../../../assets/BG_img.png");

  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  // position: relative;
  // .content {
  //   grid-area: 4/2 / span 8 / span 5;
  //   display: flex;
  //   flex-direction: column;
  //   .title {
  //     margin-top: auto;
  //   }
  //   .descr {
  //     margin-bottom: 30px;
  //   }
  //   .controls {
  //   }
  // }
}
.content {
  &.shedule-width-social {
    display: none;
    .soc {
      flex-wrap: wrap;
    }
    .soc-netw-item {
      display: flex;
      width: 200px;
      img {
        display: flex;
        // margin: auto;
      }
      a {
        @include Link;
        color: white;
        text-decoration: underline;
        margin: auto;
        margin-left: 8px;
      }
      &.right {
        margin-right: 60px;
      }
    }
  }
  &.shedule {
    grid-area: 4/12 / span 7 / span 7;
  }
  @media (max-width: 1205px) {
    &.shedule {
      grid-area: 4/8 / span 7 / span 11;
    }
  }
  @media (max-width: 775px) {
    &.shedule {
      display: none;
    }
    &.social {
      display: none;
    }
    &.shedule-width-social {
      display: grid;
      grid-area: 4/3 / span 7 / span 14;
    }
  }

  &.social {
    grid-area: 4/2 / span 7 / span 7;

    .soc-netw-item {
      display: flex;
      img {
        display: flex;
        margin: auto;
      }
      a {
        @include Link;
        color: white;
        text-decoration: underline;
        margin: auto;
        margin-left: 8px;
      }
      &.left {
        margin-left: 60px;
      }
    }
  }
  @media (max-width: 1205px) {
    &.social {
      grid-area: 4/2 / span 7 / span 4;
      .descr {
        flex-direction: column;
        .soc-netw-item {
          display: flex;
          img {
            display: flex;
            // margin: auto;
            margin: 0px;
          }
          a {
            @include Link;
            color: white;
            text-decoration: underline;
            // margin: auto;
            margin-left: 8px;
          }
          &.left {
            margin-left: 0px;
          }
        }
      }
    }
  }
  display: flex;
  flex-direction: column;
  .title {
    margin-top: auto;
    &.right {
      margin-left: auto;
      margin-right: 60px;
    }
    &.left {
      margin-right: auto;
      margin-left: 60px;
    }
  }
  .descr {
    margin-bottom: 0;
    display: flex;
  }
  .controls {
  }
}
.btn {
  background: transparent;
  cursor: pointer;
  &-left {
    grid-area: 1 / 1 / span 12 / span 1;
    z-index: 1;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    background-image: url(../../../assets/left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &-right {
    grid-area: 1 / 18 / span 12 / span 1;
    z-index: 1;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    background-image: url(../../../assets/right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
.slide-loader-container {
  z-index: 1;
  grid-area: 12 / 1 / span 1 / span 18;
  display: flex;
  justify-content: space-between;
  .slide-loader-item {
    height: 10px;
    display: flex;
    margin-top: auto;
    position: relative;
    overflow: hidden;

    & .loader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      transform: translateX(-100%);
      transition: none;
    }

    &.active .loader {
      transform: translateX(0);
      transition: transform 1s ease-in-out;
    }
  }
}
