<div class="golden-grid" style="overflow: hidden">
  <ng-container *ngIf="currentSlide$ | async as currentSlide">
    <ng-container *ngTemplateOutlet="currentSlide.template"></ng-container>
  </ng-container>

  <ng-template appTemplate="slide">
    <div class="bg-slide"></div>
    <div
      [@slideAnimation]="currentSlideState"
      (@slideAnimation.done)="onAnimationDone($event)"
      class="silder"
      style="
        background-image: url('../../../assets/BG_img2.png');
        grid-area: 1 / 1 / span 12 / span 13;
      "
    ></div>
    <div
      class="golden-grid"
      [@slideTranslate2]="currentSlideState"
      style="overflow: hidden"
    >
      <div class="content" style="grid-area: 4/12 / span 7 / span 7">
        <div class="title right">
          <app-title [width]="214"><span>Расписание</span></app-title>
        </div>
        <div class="descr" style="margin-right: 35px">
          <app-list [items]="(shedule$ | async) ?? []"></app-list>
        </div>
      </div>

      <div class="content" style="grid-area: 4/2 / span 7 / span 7">
        <div class="title">
          <app-title [width]="162"><span>Соц. сети</span></app-title>
        </div>
        <div class="descr">
          <div class="soc-netw-item">
            <img src="../../../assets/tt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >@belkasmailykova</a
            >
          </div>
          <div class="soc-netw-item left">
            <img src="../../../assets/yt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >@BelkaSmailyk</a
            >
          </div>
          <div class="soc-netw-item left">
            <img src="../../../assets/tg_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >@BelkaSmailykova</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template appTemplate="slide">
    <div class="bg-slide"></div>
    <div
      [@fromRightToLieft]="currentSlideState"
      (@fromRightToLieft.done)="onAnimationDone($event)"
      class="silder"
      style="
        background-image: url('../../../assets/BG_img.png');
        grid-area: 1 / 6 / span 12 / span 13;
      "
    ></div>
    <div
      class="golden-grid"
      style="overflow: hidden"
      [@slideTranslate1]="currentSlideState"
    >
      <div class="content" style="grid-area: 4/2 / span 8 / span 5">
        <div class="title">
          <span>заголовок</span>
          <div class="border"></div>
        </div>
        <div class="descr">
          <span
            >Lorem ipsum dolor sit amet consectetur. Quam dictum scelerisque
            nibh mauris gravida leo tincidunt. Proin pellentesque molestie
            facilisis egestas neque. Eget a lectus aliquet tortor. Integer nisl
            turpis amet facilisis sem. Et praesent nibh lobortis eleifend
            consequat cras. Lobortis amet convallis curabitur proin lectus.
            Consequat amet pellentesque sit purus et. At est ultrices augue eu.
            Sagittis viverra orci enim vitae. Iaculis risus urna magnis pulvinar
            amet accumsan est curabitur.</span
          >
        </div>
        <div class="controls" style="width: 250px; margin-right: auto">
          <!-- <div class="button"><span>кнопка</span></div> -->
          <!-- <app-s-button></app-s-button> -->
          <app-button><span>Slide 2</span></app-button>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="btn btn-left"></div>
  <div class="btn btn-right" (click)="nextSlide()"></div>
  <div class="slide-loader-container">
    <div
      class="slide-loader-item"
      [ngClass]="{ active: slide.id === (currentSlide$ | async)?.id }"
      [ngStyle]="{
        width: 'calc(100% / ' + (slides$ | async)?.length + ')',
        'background-color': 'rgba(255, 255, 255, ' + (0.5 - ind * 0.15) + ')'
      }"
      *ngFor="let slide of slides$ | async; index as ind"
    >
      <div
        class="loader"
        [ngStyle]="{
          transitionDuration: (slideTimeOut$ | async) + 's'
        }"
      ></div>
    </div>
    <!-- <div class="slide-loader-item"></div>
    <div class="slide-loader-item"></div> -->
  </div>
</div>
