.golden-grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 2fr 2fr 6.66fr 5.33fr 5.33fr 10.66fr 10.66fr 5.33fr 5.33fr 6.66fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 4fr 2.66fr 5.33fr 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr 2.66fr 4fr 2fr 2fr;
}
.bg-slide {
  grid-area: 1 / 1 / span 12 / span 18;
  // background: radial-gradient(206.16% 141.42% at 0% 0%, #1e00b2 0%, #106 100%);
  background-color: transparent;
}
.silder {
  grid-area: 1 / 6 / span 12 / span 13;
  background: transparent;
  // background-image: url("../../../assets/BG_img.png");

  background-repeat: no-repeat !important;
  background-size: 100% 100% !important;
  // position: relative;
  // .content {
  //   grid-area: 4/2 / span 8 / span 5;
  //   display: flex;
  //   flex-direction: column;
  //   .title {
  //     margin-top: auto;
  //   }
  //   .descr {
  //     margin-bottom: 30px;
  //   }
  //   .controls {
  //   }
  // }
}
.content {
  grid-area: 4/2 / span 8 / span 5;
  display: flex;
  flex-direction: column;
  .title {
    margin-top: auto;
    &.right {
      margin-left: auto;
      margin-right: 60px;
    }
  }
  .descr {
    margin-bottom: 0;
    display: flex;
  }
  .controls {
  }
}
.btn {
  background: transparent;
  cursor: pointer;
  &-left {
    grid-area: 1 / 1 / span 12 / span 1;
    z-index: 1;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    background-image: url(../../../assets/left_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  &-right {
    grid-area: 1 / 18 / span 12 / span 1;
    z-index: 1;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    background-image: url(../../../assets/right_arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}
.slide-loader-container {
  z-index: 1;
  grid-area: 12 / 1 / span 1 / span 18;
  display: flex;
  justify-content: space-between;
  .slide-loader-item {
    &:nth-child(1) {
      // background-color: rgba(255, 255, 0, 0.135);
    }
    &:nth-child(2) {
      // background-color: rgba(255, 192, 203, 0.172);
    }
    &:nth-child(3) {
      // background-color: rgba(0, 0, 255, 0.168);
    }
    width: calc(100% / 3);
  }
}
