<div class="golden-grid" style="overflow: hidden">
  <ng-container *ngIf="currentSlide$ | async as currentSlide">
    <ng-container *ngTemplateOutlet="currentSlide.template"></ng-container>
  </ng-container>

  <ng-template appTemplate="slide">
    <div class="bg-slide"></div>
    <!-- background-image: url('../../../assets/BG_img2.png'); -->
    <div
      [@slideAnimation]="currentSlideState"
      (@slideAnimation.done)="onAnimationDone($event)"
      class="silder sl-1"
    >
      <div class="image img-left">
        <img
          src="https://cdn6.aptoide.com/imgs/6/a/e/6ae6d198b1cddc9a48652d4c9c35fed5.png"
          alt=""
          height="100%"
        />
      </div>
    </div>
    <div
      class="golden-grid"
      [@slideTranslate2]="currentSlideState"
      style="overflow: hidden"
    >
      <div class="content shedule-width-social">
        <div class="title">
          <app-title [width]="214"><span>Расписание</span></app-title>
        </div>
        <div class="descr">
          <app-list [items]="(shedule$ | async) ?? []"></app-list>
        </div>
        <div class="title">
          <app-title [width]="162"><span>Соц. сети</span></app-title>
        </div>
        <div class="descr soc">
          <div class="soc-netw-item right">
            <img src="../../../assets/tt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;belkasmailykova</a
            >
          </div>
          <div class="soc-netw-item right">
            <img src="../../../assets/yt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;BelkaSmailyk</a
            >
          </div>
          <div class="soc-netw-item">
            <img src="../../../assets/tg_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;BelkaSmailykova</a
            >
          </div>
        </div>
      </div>
      <div class="content shedule">
        <div class="title right">
          <app-title [width]="214"><span>Расписание</span></app-title>
        </div>
        <div class="descr" style="margin-right: 35px">
          <app-list [items]="(shedule$ | async) ?? []"></app-list>
        </div>
      </div>

      <div class="content social">
        <div class="title">
          <app-title [width]="162"><span>Соц. сети</span></app-title>
        </div>
        <div class="descr">
          <div class="soc-netw-item">
            <img src="../../../assets/tt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;belkasmailykova</a
            >
          </div>
          <div class="soc-netw-item left">
            <img src="../../../assets/yt_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;BelkaSmailyk</a
            >
          </div>
          <div class="soc-netw-item left">
            <img src="../../../assets/tg_img.png" alt="" />
            <a href="https://www.youtube.com/@BelkaSmailyk" target="_blank"
              >&#64;BelkaSmailykova</a
            >
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template appTemplate="slide">
    <div class="bg-slide"></div>
    <div
      [@fromRightToLieft]="currentSlideState"
      (@fromRightToLieft.done)="onAnimationDone($event)"
      class="silder sl-2"
    >
      <div class="image img-right">
        <img src="../../../assets/BG_4.webp" alt="" height="100%" />
      </div>
    </div>
    <div
      class="golden-grid"
      style="overflow: hidden"
      [@slideTranslate1]="currentSlideState"
    >
      <div class="content top-donaters">
        <div class="title">
          <app-title [width]="252"><span>Топ донатеров</span></app-title>
        </div>
        <div class="descr">
          <app-list [items]="(topDonaters$ | async) ?? []"></app-list>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="btn btn-left"></div>
  <div class="btn btn-right" (click)="nextSlide()"></div>
  <div class="slide-loader-container">
    <div
      class="slide-loader-item"
      [ngClass]="{ active: slide.id === (currentSlide$ | async)?.id }"
      [ngStyle]="{
        width: 'calc(100% / ' + (slides$ | async)?.length + ')',
        'background-color': 'rgba(255, 255, 255, ' + (0.5 - ind * 0.15) + ')'
      }"
      *ngFor="let slide of slides$ | async; index as ind"
    >
      <div
        class="loader"
        [ngStyle]="{
          transitionDuration: (slideTimeOut$ | async) + 's'
        }"
      ></div>
    </div>
  </div>
</div>
