@mixin H1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.08em;
}

@mixin Link {
  font-family: "Nunito Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
