nav {
  display: flex;
  .logo {
    display: flex;
    font-family: "Lemon", sans-serif;
    letter-spacing: 2%;
    font-weight: normal;
    font-size: 40px;
    span {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .separator {
    margin-left: 48px;
    margin-right: 48px;
    border-right: 1px solid;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }
  @media (max-width: 1360px) {
    .separator {
      display: none;
    }
  }
  .navs {
    display: flex;
    .nav-item {
      position: relative;
      opacity: 0.8;
      margin-right: 49px;
      margin-top: auto;
      margin-bottom: auto;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.08em;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      &.active {
        img {
          opacity: 1;
        }
        opacity: 1;
      }

      img {
        opacity: 0;
        position: absolute;
        left: 0;
        bottom: -11px;
      }

      /* For Firefox */
      @-moz-document url-prefix() {
        img {
          width: -moz-available; /* Firefox-specific property */
        }
      }

      /* For Chrome */
      @supports (-webkit-appearance: none) {
        img {
          width: -webkit-fill-available; /* Chrome-specific property */
        }
      }
    }
  }
  @media (max-width: 1360px) {
    .navs {
      display: none;
    }
  }
  .sur {
    margin-left: auto;
    width: 320px;
    img {
      margin-top: -7px;
      margin-right: 8px;
    }
  }
  @media (max-width: 1360px) {
    .sur {
      margin-right: 20px;
    }
  }
  @media (max-width: 610px) {
    .sur {
      display: none;
    }
  }

  .toggle-nav {
    display: none;
  }
  @media (max-width: 1360px) {
    .toggle-nav {
      display: flex;
    }
  }
  @media (max-width: 610px) {
    .toggle-nav {
      margin-left: auto;
    }
  }
}

.golden-grid {
  display: grid;
  position: relative;
  height: 100vh;
  width: 100%;
  grid-template-rows: 2fr 2fr 6.66fr 5.33fr 5.33fr 10.66fr 10.66fr 5.33fr 5.33fr 6.66fr 2fr 2fr;
  grid-template-columns: 2fr 2fr 4fr 2.66fr 5.33fr 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr 2.66fr 4fr 2fr 2fr;
}
@media (max-width: 450px) {
  .golden-grid {
    height: calc(100vh - 56px);
  }
}
