<div
  class="golden-grid"
  style="
    background: radial-gradient(
      206.16% 141.42% at 0% 0%,
      #1e00b2 0%,
      #106 100%
    );
  "
>
  <div style="grid-area: 2 / 2 / span 2 / span 16; z-index: 1">
    <nav>
      <div class="logo">
        <span>Belochka</span>
      </div>
      <div class="separator"></div>

      <div class="navs">
        <div class="nav-item active">
          <span>ГЛАВНАЯ</span>
        </div>
        <div class="nav-item"><span>НОВОСТИ</span></div>
        <div class="nav-item"><span>ТУРНИРЫ</span></div>
        <div class="nav-item"><span>ВИДЕО</span></div>
        <div class="nav-item"><span>О СЕБЕ</span></div>
      </div>
      <div class="sur">
        <app-button>
          <img src="../assets/icon1.svg" />
          <span>ПОДДЕРЖАТЬ</span>
        </app-button>
      </div>
    </nav>
  </div>
  <div style="grid-area: 4 / 1 / span 9 / span 18">
    <router-outlet></router-outlet>
  </div>
</div>
