<div
  class="golden-grid"
  style="
    background: radial-gradient(
      206.16% 141.42% at 0% 0%,
      #1e00b2 0%,
      #106 100%
    );
  "
>
  <div style="grid-area: 2 / 2 / span 1 / span 16; z-index: 2">
    <nav>
      <div class="logo">
        <span>Belochka</span>
      </div>
      <div class="separator"></div>

      <div class="navs">
        <div
          *hasRole="'ADMIN'"
          class="nav-item"
          (click)="navigate(['admin-panel'])"
        >
          <span>ADMIN</span>
          <img src="../assets/menu_active.svg" />
        </div>
        <div class="nav-item active" (click)="navigate(['main'])">
          <span>ГЛАВНАЯ</span>
          <img src="../assets/menu_active.svg" />
        </div>
        <div class="nav-item">
          <span>НОВОСТИ</span>
          <img src="../assets/menu_active.svg" />
        </div>
        <div class="nav-item">
          <span>ТУРНИРЫ</span> <img src="../assets/menu_active.svg" />
        </div>
        <div class="nav-item">
          <span>ВИДЕО</span> <img src="../assets/menu_active.svg" />
        </div>
        <div class="nav-item">
          <span>О СЕБЕ</span> <img src="../assets/menu_active.svg" />
        </div>
      </div>
      <div class="sur">
        <app-button>
          <img src="../assets/icon1.svg" />
          <span>ПОДДЕРЖАТЬ</span>
        </app-button>
      </div>
      <div
        class="toggle-nav"
        (click)="changeVisibleNav(!visibleNavs$.getValue())"
      >
        <img width="30px" src="../assets/menu_icon.svg" alt="" />
      </div>
      <div
        *ngIf="(isAuth$ | async) === false; else userIsLoggined"
        class="user-nav"
        (click)="visibleSignIn$.next(!visibleSignIn$.getValue())"
      >
        <img width="35px" src="../assets/user.svg" alt="" />
      </div>
      <ng-template #userIsLoggined>
        <div class="user-info-nav" (click)="test()">
          <img width="35px" src="../assets/user-info.svg" alt="" />
        </div>
      </ng-template>

      <!-- Всплывашка меню на мобиле -->
      <div class="navs-mob" [ngClass]="{ show: visibleNavs$ | async }">
        <div class="golden-grid">
          <div class="container-full">
            <div class="container-content">
              <div
                *hasRole="'ADMIN'"
                class="nav-item"
                (click)="navigate(['admin-panel'])"
              >
                <span>ADMIN</span>
                <img src="../assets/menu_active.svg" />
              </div>
              <div class="nav-item active" (click)="navigate(['main'])">
                <span>ГЛАВНАЯ</span>
                <img src="../assets/menu_active.svg" />
              </div>
              <div class="nav-item">
                <span>НОВОСТИ</span>
                <img src="../assets/menu_active.svg" />
              </div>
              <div class="nav-item">
                <span>ТУРНИРЫ</span> <img src="../assets/menu_active.svg" />
              </div>
              <div class="nav-item">
                <span>ВИДЕО</span> <img src="../assets/menu_active.svg" />
              </div>
              <div class="nav-item">
                <span>О СЕБЕ</span> <img src="../assets/menu_active.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Конец всплывашки меню на мобиле -->

      <div class="navs-mob" [ngClass]="{ show: visibleSignIn$ | async }">
        <div class="golden-grid">
          <div class="container-full">
            <div class="container-content">
              <div class="btn">
                <app-button (onClick)="signInHandle()">
                  <span>ВОЙТИ ТАК</span>
                </app-button>
                <app-button (onClick)="signInGoogleHandle()">
                  <span>ВОЙТИ ЧЕРЕЗ ГУГЛ</span>
                </app-button>
              </div>
              <div class="btn">
                <app-button (onClick)="navigate(['registration'])">
                  <span>РЕГЕСТРАЦИЯ</span>
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="navs-mob" [ngClass]="{ show: visiblPersonalArea$ | async }">
        <div class="golden-grid">
          <div class="container-full">
            <div class="container-content">
              <ng-container *ngIf="curretnUser$ | async as currentUser">
                <span>{{ currentUser.userInfo.name }}</span>
              </ng-container>
              <div class="btn">
                <app-button (onClick)="goToPersonalArea()">
                  <span>КАБИНЕТ</span>
                </app-button>
              </div>
              <div class="btn">
                <app-button (onClick)="logOutHandle()">
                  <span>ВЫЙТИ</span>
                </app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div style="grid-area: 3 / 1 / span 9 / span 18">
    <router-outlet></router-outlet>
  </div>
</div>

<p-toast />
<p-confirmDialog> </p-confirmDialog>
