<div
  class="golden-grid"
  style="
    background: radial-gradient(
      206.16% 141.42% at 0% 0%,
      #1e00b2 0%,
      #106 100%
    );
  "
>
  <div style="grid-area: 2 / 2 / span 2 / span 16; z-index: 1">
    <nav>
      <div class="logo">
        <span>Belka smailyk</span>
      </div>
      <div class="separator"></div>

      <div class="navs">
        <div class="nav-item">
          <span>главная</span>
        </div>
        <div class="nav-item"><span>новости</span></div>
        <div class="nav-item"><span>турниры</span></div>
        <div class="nav-item"><span>видео</span></div>
        <div class="nav-item"><span>о себе</span></div>
      </div>
      <div class="button sur"><span>Поддержать стримера</span></div>
    </nav>
  </div>
  <div style="grid-area: 4 / 1 / span 9 / span 18">
    <router-outlet></router-outlet>
  </div>
</div>
