@import "/src/styles/mixins";
// :host {
//     position: relative;
// }
.container {
  position: relative;
  .content {
    @include H1;
    margin-bottom: 30px;
    @media (max-width: 420px) {
      margin-bottom: 20px;
    }
  }
  .border {
    position: absolute;
    height: 12px;
    left: 0;
    bottom: -8px;
  }
}
