.container {
  position: relative;
  .rightContent {
    position: absolute;
    // right: 8px;
    top: 16px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;
    }
  }
  .leftContent {
    position: absolute;
    // left: 16px;
    top: 16px;
    width: 84px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;
    }
  }
  .content {
    position: absolute;
    top: 16px;
    // left: 165px;
    // width: 320px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;

      // display: inline-block;
      // white-space: nowrap;
      // overflow: hidden;
      // overflow-x: auto;
      // text-overflow: ellipsis;
      // max-width: 100%;
    }
  }
  &.dir_left {
    .rightContent {
      right: 8px;
    }
    .leftContent {
      left: 16px;
    }
  }
  &.dir_right {
    .rightContent {
      left: 8px;
    }
    .leftContent {
      right: 16px;
    }
  }
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  width: 200px; /* Пример ограничения ширины */
}

.scrolling-text {
  .ttt {
    padding: 0;
    width: fit-content;
  }
  & > span {
    // display: inline-block;
    padding-left: 100%; /* Оставляет пространство для начального отступа */
    // margin-left: 100%; /* Оставляет пространство для начального отступа */
    animation: scroll 10s linear infinite; /* Анимация прокрутки */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-130%);
  }
}
