.container {
  position: relative;
  .rightContent {
    position: absolute;
    // right: 8px;
    top: 16px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;
    }
  }
  .leftContent {
    position: absolute;
    // left: 16px;
    top: 16px;
    width: 84px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;
    }
  }
  .content {
    position: absolute;
    top: 16px;
    // left: 165px;
    // width: 320px;
    height: 24px;
    z-index: 1;
    span {
      justify-content: center;
      display: flex;
    }
  }
  &.dir_left {
    .rightContent {
      right: 8px;
    }
    .leftContent {
      left: 16px;
    }
  }
  &.dir_right {
    .rightContent {
      left: 8px;
    }
    .leftContent {
      right: 16px;
    }
  }
}
