<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" fill="none">
  <defs>
    <app-bg-main-left-angle></app-bg-main-left-angle>
    <app-bg-main-right-angle></app-bg-main-right-angle>
    <app-bg-main-filter></app-bg-main-filter>
  </defs>

  <!-- Тень bg_main -->
  <g filter="url(#filter0_i_428_1399)">
    <!-- Левый угол -->
    <use xlink:href="#corner" width="26" height="100%" x="0" y="0" />

    <!-- Центральная часть -->
    <rect
      x="26"
      y="0"
      width="calc(100% - 52px)"
      height="100%"
      fill="#F4E9AE"
      fill-opacity="0.5"
    />

    <!-- Правый угол -->
    <use
      xlink:href="#corner2"
      width="26"
      height="100%"
      x="calc(100% - 26px)"
      y="0"
    />
  </g>
</svg>
